.adhd-page {
  background: rgba(209, 255, 252, 0.938);;
  text-align: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  font: 1000px
}
banner-text {
  background-color: rgb(6, 0, 59);
  height: auto;
  opacity: 0.8;
  width: 100%;
  /* margin: auto; */
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  /* color: rgb(4, 35, 134); */
  color: rgb(255, 255, 255);
}

.banner-text hr {
  border-top: 5px dotted rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  widows: 100%;
  margin: auto;
}

.banner-text p {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font: Comic Sans;
  padding: 25px 50px 75px;
  line-height: 100%;
}
