@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.user-navbar {
  width: 100%;
  z-index: 50;
  position: fixed;
}

.ibm-nav {
  flex-flow: row wrap;
}

.nav-brand {
  float: left;
  margin-left: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
}

#nav-brand {
  color: rgb(4, 35, 134);
  font-size: 1.5rem;
}

.user-item {
  margin-right: 12px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

#user-item {
  color: rgb(4, 35, 134);
}

.user-item:hover {
  color: rgb(191, 227, 241);
}

#logo-image {
  width: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.drp-item.active, .drp-item:active {
  background-color:#d3d3d3 !important;
  outline: none !important;
}

.link-ref {
  color: rgb(4, 35, 134);
  font-weight: bold;
}

.link-ref:hover {
  color: rgb(4, 35, 134);
  cursor: pointer;
  text-decoration: none;
}
