.box {
    background-color: rgb(255, 255, 255);
    width: 80vw;
    margin-top: 2vh;
    margin-left: 11vh;
    margin-bottom: 0px;
    border: inset 3px white;
    overflow: auto;
}

.box > div:hover {
    cursor: pointer;
    background-color: tan;
}

.title {
    color: blue;
    margin: 5px;
}

.description {
    color: gray;
    margin: 5px;
}