.about-me {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  width: 100%;
  margin: 0;
  min-height: 75vh;
  white-space: normal;
  overflow-x: scroll;
  flex-wrap: wrap;
}

.title {
  color: grey;
  font-size: 18px;
}

#card-wrapper-home {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
  font-size: large;
  max-width: 220px;
  min-width: 220px;
}

#card-size {
  width: 250px !important;
} 

.pic-dim {
  width: 220px !important;
  height: 220px !important;
  padding-left: 10%;
  padding-top: 10%;
}
